.form {
  &-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
  }

  .error-msg {
    margin-top: 5px;
    display: inline-block;
    font-size: 12px;
    padding-left: 24px;
  }
}
