.MuiPaper-root.MuiDialog-paper {
    position: absolute;
    top: 100px;
}
.MuiDialogContent-root {
    border: 0 !important;
    margin-bottom: 30px;
    min-width: 320px;
    @media (max-width: 480px) {
        min-width: 250px;
    }
}