.git
.github
.gitignore
result
Dockerfile
gentags.sh
getLogs.sh
run.sh
.vim
docker-compose.yml
Dockerfile.web
Dockerfile.ws
docker-files/wallet-container-instructions.md
react-web/coverage
react-web/node_modules
react-web/build
