dist-newstyle
result

flake
.vim/
.pre-commit-config.yaml
gentags.sh
tags
docker/
Makefile
*.sqlite
.pre-commit-config.yaml
*.ignore.*
todo.*
*.pir
run.x86.sh

#except all test/Data files
!test/Data/**
run.x86.sh
