dist-newstyle
result

react-web/coverage
react-web/node_modules
react-web/build

flake
.vim/
.pre-commit-config.yaml
gentags.sh
tags
docker/
Makefile
*.sqlite
react-web/node_modules/
.pre-commit-config.yaml
*.ignore.*
todo.txt
