#searchContainer {
  margin: 0 auto;
  max-width: 65%;
  padding: 10px;

  .search-form {
    max-width: 340px;
    margin: 30px auto;
    display: flex;
    flex-flow: column;
    position: relative;
    .or-separator-text {
      text-align: center;
      vertical-align: middle;
      margin-bottom: 20px;
      color: #878e9e;
    }
    .btn {
      display: flex;
      margin: 0 auto;
    }
  }

  h2 {
    font-size: 16px;
    line-height: 24px;
    color: #878e9e;
    text-align: center;
  }
}

#coverageIndicator {
  margin: 100px 0 50px;

  .coverage-file {
    display: flex;
    justify-content: space-between;
    column-gap: 50px;

    & > div {
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      column-gap: 20px;

      .meter-bar {
        width: 100%;
        background-color: #cf222e;
        height: 14px;

        .progress {
          background-color: #009168;
          height: inherit;
        }
      }
    }
  }
}

.btn-abort {
  background-color: #cf222e;
  color: #f2dede;
}

#logContainer {
  margin-top: 60px;

  .result-card {
    margin-bottom: 15px;
    padding: 8px;
    overflow: auto;
    border: 1px solid;
    border-radius: 5px;
  }

  .failure {
    border-color: #ebccd1;
    background-color: #f2dede;
    .error-title {
      color: #a94442;
    }
  }

  .result-card span {
    display: block;
    margin-bottom: 10px;
  }

  .result-card label {
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
    color: #5a5a5a;
  }
  .failing-testcase {
    margin-left: 10px;
  }
  .failure-output {
    margin-top: 20px;
    white-space: pre;
  }

  .success {
    background-color: #dff0d8;
    border-color: #e2eee2;
  }


  .accordion-title {
    cursor: pointer;
  }
  .accordion-content {
    margin-top: 20px;
  }

  .chart-container {
    display: flex;
    flex-wrap: wrap;
    .chart-wrapper {
      width: 33%;
    }
  }
}

h2 {
  font-size: 30px;
}
a {
  color: #428bca;
  text-decoration: none;
  &:hover,
  &:focus {
    color: #2a6496;
    text-decoration: underline;
  }
}


button.report-download {
  float: right;
  padding: 5px 14px;
  font-size: 13px;
  border-radius: 9px;
  .icon-image {
    width: 1rem;
  }
}