@import "styles/colors.scss";

#searchContainer {
  margin: 0 auto;
  margin-top: 2rem;
  max-width: 65%;
  padding: 10px;
  @media (max-width: 768px) {
    & {
      max-width: fit-content;
    }
  }

  .search-form {
    max-width: 340px;
    margin: 30px auto;
    display: flex;
    flex-flow: column;
    position: relative;
    .or-separator-text {
      text-align: center;
      vertical-align: middle;
      margin-bottom: 20px;
      color: $body-text-gray;
    }
    .btn {
      display: flex;
      margin: 0 auto;
      min-width: 160px;
    }
  }

  h2 {
    font-size: 16px;
    line-height: 24px;
    color: $body-text-gray;
    text-align: center;
  }
}

#coverageIndicator {
  margin: 70px 0 60px;
  & > div {
    & > span {
      font-size: 16px;
      font-weight: 600;
      color: #5a5a5a;
    }
  }
  @media (max-width: 768px) {
    & {
      margin-top: 50px;
    }
  }

  .coverage-file {
    display: flex;
    justify-content: space-between;
    column-gap: 50px;

    & > div {
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      column-gap: 20px;

      .meter-bar {
        width: 100%;
        background-color: $red;
        height: 14px;

        .progress {
          background-color: $green;
          height: inherit;
        }
      }
    }
  }
}

.btn-abort {
  background-color: $red;
  color: $dark-bg-text-color;
}

#resultContainer {

  header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    .back-btn {
      background: transparent;
      cursor: pointer;
      border: none;
    }
    &>div {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      &>.btn {
        white-space: nowrap;
        margin: 0;
        &button.report-download {
          .icon-image {
            width: 1rem;
          }
        }
      }
    }
  }
  .result-card {
    margin-bottom: 15px;
    padding: 8px;
    overflow: auto;
    border: 1px solid;
    border-radius: 5px;
  }

  .failure {
    border-color: $light-red;
    background-color: $light-red;
    .error-title {
      color: $dark-red;
    }
  }

  .result-card span {
    display: block;
    margin-bottom: 10px;
  }

  .result-card label {
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
    color: $dark-gray;
  }

  .result-card .accordion-content label {
    font-weight: 500;
  }

  .failing-testcase {
    margin-left: 10px;
  }
  .failure-output {
    margin-top: 20px;
    white-space: pre;
  }

  .success {
    background-color: $lighter-green;
    border-color: $light-green;
  }


  .accordion-title {
    cursor: pointer;
  }
  .accordion-content {
    margin-top: 20px;
  }

  .chart-container {
    display: flex;
    flex-wrap: wrap;
    .chart-wrapper {
      width: 33%;
    }
  }
}
