#searchContainer {
  margin: 0 auto;
  max-width: 65%;
  padding: 10px;

  .search-form {
    max-width: 340px;
    margin: 30px auto;
    display: flex;
    flex-flow: column;
    position: relative;

    .btn {
      display: flex;
      margin: 0 auto;
    }
  }

  h2 {
    font-size: 16px;
    line-height: 24px;
    color: #878e9e;
    text-align: center;
  }

  &.hidden {
    display: none;
  }
}

#logContainer {
  margin-top: 60px;

  .failure {
    margin-bottom: 15px;
    padding: 8px;
    overflow: auto;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    border-radius: 5px;
  }

  .failure > span {
    display: block;
    margin-bottom: 10px;
    
    &:first-child {
      color: #a94442;
    }
  }
}

h2 {
  font-size: 30px;
}
a {
  color: #428bca;
  text-decoration: none;
  &:hover,
  &:focus {
    color: #2a6496;
    text-decoration: underline;
  }
}