.payment-container {
    margin: 5rem;
    @media only screen and (max-width: 768px) {
        margin: 1rem;
      }
    .content {
      h3, h4, h5, p {
        margin-bottom: 1rem;
      }
      p {
        line-height: 24px;
      }
    }
    .btn-layout {
        text-align: center;
        margin: 40px;
        .button-pay {
            width: 30%;
            @media only screen and (max-width: 768px) {
                width: 80%;
              }
        }
      .pay {
        background-color: #2ecc71;
        color: white;
        outline: none;
        border: 1px solid #2ecc71;
      }
      .cancel {
        background-color: white;
        color: #2ecc71;
        border: 1px solid #2ecc71;
      }
    }
  }