$primary: #7f5af0;
$secondary: #f9f9f9;

$white: #ffffff;
$black: #000000;
$yellow: #dbab0a;
$danger: #ff5470;
$red: #cf222e;
$green: #009168;
$dark-red: #a94442;
$light-red: #f2dede;
$lighter-green: #dff0d8;
$light-green: #e2eee2;
$blue: #428bca;
$darker-blue: #2a6496;
$lighter-gray: #c9c9c9;
$dark-gray: #5a5a5a;

$dark-bg-text-color: #f2dede;
$muted-gray: #f9f9f9;
$input-gray: #3d3b39;
$input-label-gray: #6f7786;
$body-text-gray: #878e9e;
$title-gray: #878e9e;
$border-gray: #efefef;

$primary-btn-color: #7f5af0;
$primary-btn-hover-color: #6c4bd2;
$secondary-text-color: #6f7786;
$gradient-btn-text-color: #727272;

$text-gray: #40485e;
$text-gray-light: #6f7786;