.pricing-container {
    font-family: Arial, Helvetica, sans-serif;
    .pricing-card-container {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      @media only screen and (min-width: 1020px) {
        flex-direction: row;
      }
    }
    .subscription-content {
      font-size: 1.3rem;
      margin: 40px 0;
      line-height: 1.8rem;
    }
    .tier-container {
        margin-top: 50px;
    }
    h5 {
        line-height: 56px;
      font-size: 1.4rem;
      color: #2ecc71;
    }
    p {
      font-size: 1.1rem;
      margin-bottom: 1.3rem;
      line-height: 26px;
    }
  }

.head-section {
  margin-bottom: 20px;
  text-align: right;
  #view-subscription-history {
    padding: 9px 18px;
    border-radius: 5px;
    background-color: #d6dff4;
    cursor: pointer;
    &:hover {
      background-color: #c4cee3;
    }
    span {
      margin-left: 5px;
    }
  }
}