#profileContainer {
  max-width: 400px;
    margin: 20px auto 0;
  .input-wrapper {
    .input {
      &.disabled {
        opacity: 1;
      }
    }
  }
  fieldset > label {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 20px;
    & > label.info {
      align-self: flex-end;
      line-height: 25px;
      margin-top: -15px;
      & > img.image {
        width: 16px;
        height: 16px;
      }
      & > span {
        margin-left: 7px;
      }
    }
  }
}

.button-wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
}
