apiVersion: core.oam.dev/v1beta1
kind: Application
metadata:
  name: dapps-certification
  namespace: dapps-certification-staging
spec:
  components:
    - name: dapps-certification
      properties:
        env:
          - name: WALLET_ADDRESS
            value: addr_test1qphgqts20fhx0yx7ug42xehcnryukchy5k7hpaksgxax2fzt5w2gu33s8wrw3c9tjs97dr5pulsvf39e56v7c9ar39asptcrtp
          - name: WALLET_ID
            value: 73857344a0cf884fe044abfe85660cc9a81f6366
          - name: WALLET_URL
            value: http://localhost:8090
          - name: WALLET_CERTIFICATION_PRICE
            value: "1000000"
          - name: MIN_AMOUNT_FOR_ADDRESS_RESERVATION
            value: "1000000"
          - name: PORT
            value: "80"
          - name: WALLET_PASSPHRASE
            valueFrom:
              secretKeyRef:
                key: WALLET_PASSPHRASE
                name: the-secrets
          - name: DB_PATH
            value: "/db/certification.sqlite"
        image: ghcr.io/demoiog/plutus-certification:13
        imagePullPolicy: IfNotPresent
        imagePullSecrets:
          - iohk-ghcr-creds
        memory: 8Gi
        cpu: 4
        ports:
          - expose: true
            port: 80
            protocol: TCP
        volumeMounts:
          emptyDir:
            - name: ipc
              mountPath: /ipc
      traits:
        - type: storage
          properties:
            pvc:
            - name: db
              mountPath: /db
              storageClassName: ebs-sc
              resources:
                requests:
                  storage: 10Gi
        - type: storage
          properties:
            pvc:
            - name: wallet-db
              mountPath: /wallet-db
              storageClassName: ebs-sc
              resources:
                requests:
                  storage: 10Gi
        - type: k8s-update-strategy
          properties:
            strategy:
              type: Recreate
        - properties:
            replicas: 1
          type: scaler
        - properties:
            domains:
              - dapps-certification.scdev.aws.iohkdev.io
            rules:
              - port: 80
                serviceName: dapps-certification
          type: https-route
        - type: sidecar
          properties:
            name: cardano-wallet
            image: inputoutput/cardano-wallet:dev-master
            args:
              - serve
              - --node-socket
              - /ipc/node.socket
              - --database
              - /wallet-db
              - --listen-address
              - 0.0.0.0
              - --testnet
              - /config/preprod/genesis-byron.json
            volumes:
              - name: ipc
                path: /ipc
              - name: pvc-wallet-db
                path: /wallet-db
        - type: sidecar
          properties:
            name: socat
            image: alpine/socat
            args:
              - UNIX-LISTEN:/ipc/node.socket,fork
              - TCP-CONNECT:cardano-node-preprod.vela-system:8090
            volumes:
              - name: ipc
                path: /ipc
      type: webservice
  policies:
    - name: local-dapps-certification
      properties:
        clusters:
          - local
        namespace: dapps-certification-staging
      type: topology
  workflow:
    steps:
      - type: deploy
        meta:
          alias: Deploy To local-dapps-certification
        name: local-dapps-certification
        properties:
          policies:
            - local-dapps-certification
