.table-component {
  position: relative;
  .col-header {
    display: flex;
    position: relative;
    .sort-icon-container {
      .sort-icon {
        position: absolute;
        top: -8px;
        height: 40px;
      }
    }
  }
  .no-data {
    margin: 2em;
    text-align: center;
    justify-content: center;
  }
}
.sideBar {
  display: flex;
  position: absolute;
  top: -22px;
  right: 0;
  .colviz-container {
    background-color: #fff;
    height: 100%;
    width: 150px;
    padding: 15px;
    border: 1px solid rgb(87, 85, 85);
    z-index: 99;
  }
  .sidebarButtons {
    position: relative;
    width: 30px;
    height: 100%;
    background: #fff;
    .sideBarButton {
      border: none;
      background: transparent;
      .sideBarButtonIcon {
        img {
          max-width: 16px;
        }
      }
      .sideBarButtonLabel {
        margin-top: 10px;
        writing-mode: vertical-lr;
        font-size: 12px;
      }
      &:hover,
      &:focus {
        cursor: pointer;
      }
    }
  }
}
.MuiBox-root {
  margin: 2rem;
  position: relative;
  table thead {
    th {
      font-weight: bold !important;
    }
    .col-header {
      display: flex;
      white-space: nowrap;
      img {
        width: 15px;
        margin-left: 5px;
      }
    }
  }
  table tbody {
    .icon {
      width: 15px;
      vertical-align: text-top;
      margin-left: 8px;
      cursor: pointer;
    }
    .trash-icon-btn {
      border: none;
      cursor: pointer;
      appearance: none;
      background-color: inherit;
    }
    .trim-cell-text {
      max-width: 85px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      display: block;
      cursor: default;
    }
    td {
      .cell-highlight {
        background: yellow;
      }
    }
  }
  .MuiPaper-root {
    box-shadow: 0px -1px 1px 0px rgba(0, 0, 0, 0.14)
  }
}