<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--TODO: This might change if the routes are changed-->
    <base href="/control-panel">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
    <script>
      function toggleElementsByClass(className) {
        const elements = document.getElementsByClassName(className);

        for (const element of elements) {
          if (element.style.display === 'none' || getComputedStyle(element).display === 'none') {
            element.style.display = null;
          } else {
            element.style.display = 'none';
          }
        }
      }
    </script>
  </head>
  <body>
    <style>
      #main.htmx-added .fading {
        opacity: 0;
      }
      #main .fading {
        opacity: 1;
        transition: opacity 150ms ease-out;
      }
    </style>
    <div class="flex smooth" id="main" >
      <aside class="sticky top-0 h-screen w-56 bg-gray-100 text-gray-800 p-4">
        <div class="flex items-center mb-4 space-x-1">
          <h1 class="text-lg font-medium">Control Panel</h1>
        </div>
        <nav class="space-y-2">
          $asideButtons
        </nav>
      </aside>
      <main class="flex-grow p-6 fading">
        <div class="flex justify-between items-center mb-4">
          <h1 class="text-lg font-medium">$pageName</h1>
          <button
            class="justify-center font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-primary/90 h-10 px-2 py-1 bg-gray-800 text-white rounded-lg flex items-center space-x-2 text-sm"
            type="button"
            style="display: none"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="w-4 h-4"
            >
              <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
              <polyline points="7 10 12 15 17 10"></polyline>
              <line x1="12" x2="12" y1="15" y2="3"></line></svg
            ><span>Download</span>
          </button>
        </div>
        <div class="w-full overflow-auto">
          $subPage
        </div>
      </main>
    </div>
  </body>
  <script>
    // This might change if the routes are changed
    document.body.addEventListener('htmx:configRequest', (event) => {
      if(event.detail.path.startsWith('/control-panel')) {
        // ignore the event
        console.log(event)
        return
      }
      // add / if it's not there
      console.log("original",event.detail.path)
      const path = !event.detail.path.startsWith('/') ? `/$${event.detail.path}` : event.detail.path
      console.log("new",path)
      event.detail.path = `/control-panel$${path}`
    })
  </script>
</html>
