@import "styles/colors.scss";
@import "styles/constants.scss";

.script-item {
  flex-direction: column;
}

.action-button {
  top: -68px;
  right: 20px;
  background-color: $white;
}

.input-wrapper {
  width: 100%;
}

.card-layout {
  border-radius: $border-radius;
  border: $border;
  padding: 50px 20px 20px;
  margin-top: 50px;
}

.addScript-btn {
  top: -75px;
}
