---
apiVersion: v1
kind: Pod
metadata:
  name: certify-{{{run_id}}}
spec:
  containers:
    - name: certify
      image: {{{run_certify_image}}}
      imagePullPolicy: Always
      command:
        - "/bin/run-certify"
        - "{{{certify_path}}}"
        {{#certify_args}}
        - {{{ . }}}
        {{/certify_args}}
      env:
        - name: token
          valueFrom:
            secretKeyRef:
              key: token
              name: nbn
      volumeMounts:
        - mountPath: /etc/ssh
          name: configmap-ssh
        - mountPath: /etc/nix
          name: configmap-nix
  restartPolicy: Never
  # TODO Pass in configMap names from the service
  volumes:
    - configMap:
        defaultMode: 420
        name: ssh
      name: configmap-ssh
    - configMap:
        defaultMode: 420
        name: nix
      name: configmap-nix
