#testHistory {
  margin: 2rem;
  position: relative;
  th {
    font-weight: bold !important;
  }
  .sync-btn {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
  }
  .icon {
    width: 15px;
    vertical-align: text-top;
    margin-left: 8px;
    cursor: pointer;
  }
  .trash-icon-btn {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    .icon-trash {
      height: 40px;
    }
  }
  .trim-cell-text {
    max-width: 85px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    cursor: default;
  }
}


.spin {
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}