@import "styles/helpers";
@import "styles/colors.scss";

body {
  color: #40485e;
  margin: 0;
  font-family: monospace;
  font-size: 16px;
  background-color: $white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
  // position: relative;
}

#contentWrapper {
  margin: 0 auto;
  padding: 40px;
  color: #2d333a;
  @media (max-width: 768px) {
    & {
      padding: 0;
    }
  }
}

input {
  font-family: monospace, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}

code {
  font-family: monospace, source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}

@keyframes rotate-keyframes {
  100% {
    transform: rotate(360deg);
  }
}
.anim-rotate {
  animation: rotate-keyframes 1s linear infinite;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 10px;
  &.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  &.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}

h1 {
  font-size: 32px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 22px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}

a, .link {
  cursor: pointer;
  color: $blue;
  text-decoration: none;
  &:hover,
  &:focus {
    color: $darker-blue;
    text-decoration: underline;
  }
}
button.link {
  font-family: monospace;
}

.text-right {
  float: right;
}

.disabled, [disabled] {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}
button:focus {
  outline: none;
}