@import "styles/helpers";
@import "styles/colors.scss";

body {
  color: #40485e;
  margin: 0;
  font-family: monospace;
  font-size: 14px;
  background-color: $white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  height: 80px;
}

#contentWrapper {
  margin: 0 auto;
  padding: 40px;
  height: calc(100vh - 160px);
  color: #2d333a;
}

input {
  font-family: monospace, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}

code {
  font-family: monospace, source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}

@keyframes rotate-keyframes {
  100% {
    transform: rotate(360deg);
  }
}
.anim-rotate {
  animation: rotate-keyframes 1s linear infinite;
}
