#auditReportUploadContainer {
  max-width: 760px;
  margin: 50px auto 0;
  .separator-label {
    margin: 50px 0 20px;
  }

  .bordered {
    max-width: 100%;
  }

  .button-wrapper {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .inner-separator-label {
    margin: 20px 0 15px;
    width: 100%;
    color: #757575;
  }

  .smartcontract-info-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .input-wrapper {
      width: 48%;
    }
  }
}
