@import "styles/colors.scss";

.btn {
  padding: 14px 35px;
  border: 0;
  border-radius: 18px;
  transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  background-color: $primary-btn-color;
  color: $white;
  cursor: pointer;
  outline: none;
  max-width: fit-content;
  align-self: center;
  justify-content: center;

  &:active,
  &:focus,
  &:hover {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    background-color: #6c4bd2;
  }

  &-primary {
    background-color: $primary;
    color: $white;
  }

  &-primary-outline {
    background-color: $white;
    color: $primary-btn-color;
    border: 1px solid $primary-btn-color;
    font-weight: inherit;
    &:active,
    &:focus,
    &:hover {
      box-shadow: none;
      background-color: $primary-btn-color;
      border: 1px solid $primary-btn-color;
      color: $white;
      border: 0;
      font-weight: 600;
    }
  }

  &-secondary {
    background-color: $secondary;
    color: $secondary-text-color;
  }

  &-gradient {
    border: double 3px transparent;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, #FF92E1, #FDC300);
    background-clip: padding-box, border-box;
    color: $gradient-btn-text-color;
    &:active,
    &:focus,
    &:hover {
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
      color: inherit;
    }
  }

  &.is-loading {
    pointer-events: none;
    filter: grayscale(20%);
    cursor: progress;
    opacity: 0.8;

    .button-label {
      visibility: hidden;
    }
  }

  .icon-image {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -3px;
  }

  &[disabled] {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
  }

  &.btn-small {
    font-size: 13px;
    line-height: inherit;
    padding: 9px 16px;
    border-radius: 10px;
    max-width: inherit;
  }

  &.btn-thin {
    padding: 8px 26px;
  }
}
