@import "styles/colors.scss";
@import "styles/constants.scss";
@import "styles/helpers.scss";

.dropdown-wrapper {
  margin-bottom: 17px;

  .dropdown {
    padding: 28px 24px;
    border-radius: $border-radius;
    border: $border;
    cursor: pointer;

    .label {
      color: $input-label-gray;
      font-size: 16px;
    }

    &:hover {
      background: $muted-gray;
    }

    &.active {
      .label {
        font-size: 12px;
        top: 18px;
        transition: 0.2s ease all;
      }

      .option-value {
        padding-top: 17px;
      }
    }

    &.has-value {
      padding: 18px 24px 15px;
    }

    &.error {
      border-color: $danger;
      color: initial;
      margin-bottom: 3px;
    }
  }

  .options-wrapper {
    @extend .width-fill-available;
    z-index: 20;
    max-height: 256px;
    background-color: $white;
    text-align: left;
    border: $border-gray;
    border-radius: $border-radius;
    margin-top: 2px;
    padding: 20px;
    box-shadow: 0px 3px 6px 1px #c3c3c361;

    .option-label {
      text-transform: none;
      font-family: monospace;
    }

    .MuiCheckbox-root {
      padding: 0 10px 0 0 !important;
      transform: scale(0.85);
    }
  }

  .chevron {
    right: 20px;

    &.open {
      transform: translateY(-50%) rotate(180deg);
    }
  }

  .close-btn {
    right: 40px;
  }
}
